<!doctype html>
<html>
<head>
	<title>My App</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
	<script type="text/javascript" src="jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
	<div class="container">
		Articles...
	</div>
	<script type="text/javascript">
		
	</script>
</body>
</html>